{{~#*inline "typed-variable-array"~}}
{{#each .}}[.var-type\]#{{typeName}}#{{#if name}} [.var-name\]#{{name}}#{{/if}}{{#unless @last}}, {{/unless}}{{/each}}
{{~/inline~}}

# `{{name}}`

{{natspec.devdoc}}

{{#if modifiers}}

<div class="funcname{{name}} contract-index">Modifiers</div>
---
{{#each inheritedItems}}
{{#unless @first}}
<span class="inherited-title">{{contract.name}}</span>
{{/unless}}
{{#each modifiers}}
[<code>{{name}}({{args.names}})</code>]({{slug fullName~}})
{{/each}}

{{/each}}

---
{{/if}}

{{#if events}}

<div class="funcname{{name}} contract-index">Events</div>
---
{{#each inheritedItems}}
{{#unless @first}}
<span class="inherited-title">{{contract.name}}</span>
{{/unless}}
{{#each events}}
[<code>{{name}}({{args.names}})</code>]({{slug fullName~}})
{{/each}}

{{/each}}
---

{{/if}}

---
{{#if ownModifiers}}

## Modifiers

{{#each ownModifiers}}

<div class="funcname{{name}} contract-item">
    <h4 id="hfuncname{{name}}">
        <a class="anchor" href="#funcname{{name}}"></a>
        <code>{{name}}({{args}})</code>
        <span class="item-kind">modifier</span>
    </h4>
    <div class="description">
        {{#if natspec.notice}} <p> {{{natspec.notice}}} </p>{{/if}}
        {{#if natspec.userdoc}} <p> {{{natspec.userdoc}}} </p>{{/if}}
        {{#if natspec.devdoc}} <p> {{{natspec.devdoc}}} </p>{{/if}}
    </div>
</div>
{{/each}}
{{/if}}


{{#if ownFunctions}}

## Functions


{{#each ownFunctions}}
- [{{name}}({{args.names}})](#{{name}})
{{/each}}
---
{{/if}}





{{#if ownModifiers}}

## Modifiers

{{#each ownModifiers}}

    ### {{name}}({{args.names}})

{{/each}}
---
{{/if}}

{{#if ownFunctions}}

{{#each ownFunctions}}

<div class="funcname{{name}} contract-item">
<h4 id="hfuncname{{name}}"><a class="anchor" href="#funcname{{name}}"></a>
<code>{{name}}({{typed-variable-array args}}) <span class="var-type">{{#if outputs}} → {{outputs}}{{/if}}</span></code>
<span class="item-kind">{{visibility}}</span>
</h4>
<div class="description">
{{#if natspec.notice}} <p> {{{natspec.notice}}} </p>{{/if}}
{{#if natspec.userdoc}} <p> {{{natspec.userdoc}}} </p>{{/if}}
{{#if natspec.devdoc}} <p> {{{natspec.devdoc}}} </p>{{/if}}
</div>

</div>
{{/each}}
{{/if}}

<style>
    .contract-index {
        color: #6d79e9;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contact-subindex-inherited {
        border-top: solid 1px #cacbcc;
        margin-top: 1.2em;
        padding-top: 0.25em;
        opacity: 0.7;
    }

    .inherited-title {
        float: right;
        color: black;
        margin-top: 0.8em;
        font-size: 0.8em;
        opacity: 0.7;
    }

    .contract-subindex.

    .contract-item {
        border-radius: 3rem;
        border: solid 1px #ddd;
        max-width: 90vw;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        word-wrap: break-word;
    }

    .contract-item>* {
        margin-right: 1em;
        margin-left: 1em;
    }

    .contract-item h4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        padding: 0;
        margin: 1em;
        margin-bottom: 2em;
        position: relative;
        font-size: inherit;
    }

    .contract-item h4 code {
        color: inherit;
        background-color: transparent;
        padding: 0;
    }

    .contract-item h4 code span.var-type {
        font-weight: 400;
    }

    .contract-item h4::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        padding: 1em;
        margin: -1em;
        z-index: -10;
        background-color: #f9f9fa;
        border-bottom: solid 1px #ddd;
    }

    .contract-item h4 .item-kind {
        font-weight: 300;
        opacity: .8;
    }

    .contract-item .description{
        padding: 5px
    }

    .contract-item .box {
        margin: 20px 10px;
        padding: 10px 30px;
        background-color: #EEE;
        border: 1px solid #CCC;
    }
</style>